* {
    box-sizing: border-box;
  }
  
  /*font-family: 'Lora', serif;
  font-family: 'Open Sans Condensed', sans-serif;
  */
body {
  font-family: 'Open Sans Condensed', italic;
    font-size: 20px;
    color: #444;
    text-align: center;
    line-height: 1.5;
}
h1 {
  text-align: center;
}
   p {
     font-family: 'Lora', serif;
     margin: auto;
     width: 800px;
     text-align: center;
   }

   a {
     padding-right: 10px;
     text-align: center;
   }

   @media screen and (max-width: 450px) {
    .info {
      text-align: center;
    }
     p {
       width: 200px;
     }

     .hero {
      width: 75%;
    }
    .disneyQuizApp {
      width: 75%;
    }
    footer {
      text-align: center;
      font-size: 75%;
    }
   }

   @media screen and (min-width: 450px) {
     .hamburger {
       display: none;
     }
   }
  /*orangey: #d49d5f
  yellow: #f5d68e
  light blue: #afdbca
  green/blue: #5a8a77
  dark blue: #426375*/
 

  .navbar {
    background-color:#426375; 
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color:#afdbca;
  }


  footer {
    padding: 1% 0;
    background-color:#426375; 
    color: white; 
  }
  
  nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }
  
  header {
    padding: 12% 0;
  }
  
  section {
    min-height: 200px;
    padding: 6% 0;
  }
  
  section:nth-child(even) {
    background-color: #ddd;
  }
  */


  